@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Edu SA Beginner', cursive;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(./img/viaja.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .nav{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 70px;
            margin: 20px;
            height: 70px;
        }
        .bar-btn{
            font-size: 25px;
            color: #fff;
            margin-right: 20px;
            cursor: pointer;

        }
        #check{
            display: none;
        }
        #check:checked ~ .nav__menu{
            height: 100vh;
        }
        #check:checked ~ .nav__menu li{
            display: block;
        }

        .nav__menu{
            position: fixed;
            width: 100%;
            height: 0;
            top: 100px;
            background: rgba(0, 0, 0, 0.803);
            text-align: center;
            font-size: 1.5rem;
            transition: all .5s;
            li{
                display: none;
                line-height: 30px;
                margin: 70px 0;
                transition: all .5s;
            }
            a{
                color: rgb(255, 255, 255);
                font-weight: 600;
                text-transform: uppercase;
            }
            a.active{
                color: rgb(34, 92, 237);
                transition: .3s;
            }
            a:hover{
                color: rgb(203, 18, 18);
                transition: .3s;
            }
        }
    }    
}



.text__menu{
    padding: 0 30px;
    text-align: center;
    margin-top: 110px;
    .title{
        font-size: 3rem;
        text-shadow: 1px 1px 7px #fff;
        color: rgb(0, 0, 0);
    }
    .subtitle{
        font-size: 2.5rem;
        padding-top: 70px;
        font-weight: 550;
        color: rgb(0, 0, 0);
        padding-bottom: 70px;
        text-shadow: 1px 1px 7px #fff;
    }
    span{
        color: rgb(48, 61, 214);
    }
    .buttom1{
        background: rgb(214, 48, 48);
        margin-right: 40px;
        padding: 10px 30px;
        font-size: 1.5rem;
        border-radius: 1rem 2rem 1rem 2rem;
        color: #fff;
        box-shadow: 0 0 10px 0 rgb(214, 48, 48);
    }
    .buttom1:hover{
        background: #000;
        color: #fff;
        box-shadow: 0 0 10px 0 #000;
        transition: all.3s;
    }
    .buttom2{
        background: rgb(48, 61, 214);
        padding: 10px 30px;
        font-size: 1.5rem;
        border-radius: 2rem 1rem 2rem 1rem;
        color: #fff;
        box-shadow: 0 0 10px 0 rgb(48, 61, 214);
    }
    .buttom2:hover{
        background: #fff;
        color: #000;
        box-shadow: 0 0 10px 0 #fff;
        transition: all .3s;
    }
    
}

/* main */

.main{
    background-image: url(./img/img1.jpg);
    width: 100%;
    height: auto;
    overflow: hidden;
    .text__presentacion{
        width: 100%;
        height: 150px;
        background: #000;
        color: #fff;
        box-shadow: 0 0 10px 0#fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .border{
            text-align: center;
            font-size: 3rem;
            padding-top: 30px;
        }
        .pre1{
            width: 250px;
            height: 100px;
        }
        .pre2{
            width: 150px;
            height: 150px;
        }
    }
    .container{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .text__informacion{
            text-align: center;
            padding-top: 50px;
            .text{
                color: #fff;
                font-size: 2.5rem;
            }
            .parrafo{
                text-align: center;
                padding: 50px;
                font-size: 1.8rem;
                color: #fff;
            }
        }

    }
    .cards__section{
        width: 100%;
        height: auto;
        margin: 50px 0;
        .card{
            width: 100%;
            height: auto;
            display: inline-block;
            margin: 0 60px;
            text-align: center;
            padding: 5px;
            border-radius: 10px;
            background: url(./img/background.jpg);
            color: #fff;
        }
    }
}

